*,*:before,*:after {
    display: flexbox;
    box-sizing: inherit;
}

html, body {  
    box-sizing: border-box;  
    margin: 0;
    width: 100%;
}

.image {
    width: 100%;
    height: 120%;
    object-fit: cover;
    opacity: 0.7;
    position: fixed;
    z-index: -1;
}

@media screen and (max-width: 600px) {
    .image {
        width: 100%;
        height: 90%;
        object-fit: cover;
        opacity: 0.7;
        position: fixed;
        z-index: -1;
    }
}

#Header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background-color: transparent;
    display: flex;
}

@media screen and (max-width: 600px) {
    #Header {
        height: 100px;
    }
  }

#Title {
    font-size: 35px;
    font-weight: bold;
    font-style: italic;
    color: #303030;
    margin: 25px 30% 0 15%;
    text-shadow: 1px 2px 4px black;
}

@media screen and (max-width: 600px) {
    #Title {
        font-size: 22px;
        margin: 30px -20% 0 10%;
    }
}

@media screen and (min-width: 600px) {
    #Title {
        font-size: 27px;
    }
}

@media screen and (min-width: 900px) {
    #Title {
        font-size: 30px;
    }
}

@media screen and (min-width: 1200px) {
    #Title {
        font-size: 35px;
    }
}

#Logo {
    width: 100px;
    height: 60px;
    margin: 15px -14% 0 10%;   
}

@media screen and (max-width: 600px) {
    #Logo {
        width: 60px;
        height: 40px;
        margin: 6% -8% 0 5%;   
    }
}

.bar {
    width: 10%;
    height: 50%;   
    background-color: #ADD8E6;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin-right: 0.5%;
    margin-top: 1.5%;
    box-shadow: 2px 2px 5px black;
    border-radius: 10%;
}

@media screen and (max-width: 600px) {
    .bar {
        width: 18%;
        height: 25%;   
        font-size: 10px;
        margin-right: 1%;
        margin-top: 18%;
    }
}

@media screen and (min-width: 600px) {
    .bar { 
        font-size: 10px;
    }
}

@media screen and (min-width: 900px) {
    .bar { 
        font-size: 14px;
    }
}

@media screen and (min-width: 1200px) {
    .bar { 
        font-size: 20px;
    }
}

.bar:hover {
    background-color: white;
}

.ins {
    background-color: #FFB6C1;
}

#Main {
    position: absolute;
    top: 20%;
    left: 4%;
    width: 50%;
    height: 45%;
    background-color: #ADD8E6;
    border-radius: 5%;
    box-shadow: 0.01px 0.01px 20px #585858, -0.01px -0.01px 20px #585858;
}

@media screen and (max-width: 600px) {
    #Main {
        width: 90%;
        height: 30%;
        position: absolute;
        top: 20%;
        left: 5%;       
    }
}

#Main-text {
    color: black;
    font-size: 40px;
    padding-top: 1%;
    margin-bottom: 5%;
    text-align: center;
}

@media screen and (max-width: 600px) {
    #Main-text {
        font-size: 25px;
        padding-top: 1%;
        margin-bottom: 5%;
    }
}

@media screen and (min-width: 600px) {
    #Main-text {
        font-size: 27px;
        padding-top: 1%;
        margin-bottom: 5%;
    }
}

@media screen and (min-width: 900px) {
    #Main-text {
        font-size: 35px;
        padding-top: 1%;
        margin-bottom: 5%;
    }
}

@media screen and (min-width: 1200px) {
    #Main-text {
        font-size: 40px;
        padding-top: 1%;
        margin-bottom: 5%;
    }
}

.text {
    font-size: 20px;
    margin-left: 10%;
}

@media screen and (max-width: 600px) {
    .text {
        font-size: 11px;
        margin-left: 6%;
    }    
}

@media screen and (min-width: 600px) {
    .text {
        font-size: 14px;
    }    
}

@media screen and (min-width: 900px) {
    .text {
        font-size: 17px;
    }    
}

@media screen and (min-width: 1200px) {
    .text {
        font-size: 20px;
    }    
}

.dif {
    color: #505050;
    font-style: italic;
    font-weight: bold;
    font-size: 22px;
}

@media screen and (max-width: 600px) {
    .dif {
        font-size: 13px;
    }    
}

@media screen and (min-width: 600px) {
    .dif {
        font-size: 16px;
    }    
}

@media screen and (min-width: 900px) {
    .dif {
        font-size: 19px;
    }    
}

@media screen and (min-width: 1200px) {
    .dif {
        font-size: 22px;
    }    
}

hr {
    text-align: center;
    width: 80%;
    color: black;
    height: 2px;
    margin-top: 3%;
}

@media screen and (max-width: 600px) {
    hr {
        margin-top: 4%;
    }   
}

#Info {
    width: 100%;
    height: 940px;
    position: absolute;
    top: 90%;
    left:0;
    background-color: #FFA07A;
}

@media screen and (max-width: 600px) {
    #Info {
        position: absolute;
        top: 90%;
        left:0;
        height: 1400px;
    }   
}

#Pre {
    position: absolute;
    top: 25%;
    right: 8%;
    width: 30%;
    height: 50%;
    background-color: transparent;
}

@media screen and (max-width: 600px) {
    #Pre {
        position: absolute;
        top: 52%;
        left: 15%;
        width: 70%;
        height: 30%;
    }  
}

.pre-text {
    font-size: 25px;
    font-style: italic;
}

@media screen and (max-width: 600px) {
    .pre-text {
        font-size: 15px;
        font-style: italic;
    } 
}

@media screen and (min-width: 600px) {
    .pre-text {
        font-size: 18px;
        font-style: italic;
    } 
}

@media screen and (min-width: 900px) {
    .pre-text {
        font-size: 22px;
        font-style: italic;
    } 
}

@media screen and (min-width: 1200px) {
    .pre-text {
        font-size: 26px;
        font-style: italic;
    } 
}

.fa {
    padding: 10px;
    font-size: 35px;
    width: 35px;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 50%;
}

@media screen and (max-width: 600px) {
    .fa {
        padding: 5px;
        font-size: 8px;
        width: 25px;
        text-align: center;
        text-decoration: none;
        margin-top: 7%;
        margin-left: 1%;
        border-radius: 50%;
      }
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}
  
.fa-twitter {
    background: #55ACEE;
    color: white;
}
  
.fa-linkedin {
    background: #1E90FF;
    color: white;
}
  
.sm:hover {
    opacity: 0.5;
}

.sm-section {
    margin-top: 1%;
    margin-left: 3%;
}

@media screen and (max-width: 600px) {
    .sm-section {
        margin-top: -5%;
        margin-left: 6%;
    }
}

.pre-section {
    width: 100%;
    height: 50%;
    background-color: #FFB6C1;
    text-align: center;
    padding: 2% 5%;
    border-radius: 7%;
    box-shadow: 0.01px 0.01px 20px #585858, -0.01px -0.01px 20px #585858; 
}

@media screen and (max-width: 600px) {
    .pre-section {
        padding: 2% 5%;
        border-radius: 7%;
    }
}

.image2 {
    position: absolute;
    top: 60%;
    right: 1%;
    width: 50%;
    height: 50%;
    border-radius: 15%;
}

@media screen and (max-width: 600px) {
    .image2 {
        position: absolute;
        top: 55%;
        right: 1%;
    }
}

.image2:hover {
    box-shadow: 0.01px 0.01px 20px #585858, -0.01px -0.01px 20px #585858;   
    opacity: 0.7;
}

.info-text1 {
    color: #303030;
    font-size: 25px;
    font-style: italic; 
    font-weight: bold;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .info-text1 {
        font-size: 18px;
    }
}

.info-image {
    object-fit: cover;
}

.image3 {
    width: 28%;
    height: 300px;
    margin: 40px 2% 40px 3.5%;
    box-shadow: 0.1px 0.1px 10px gray;
    box-shadow: 0.01px 0.01px 20px #585858, -0.01px -0.01px 20px #585858; 
}  

@media screen and (max-width: 600px) {
    .image3 {
        width: 90%;
        height: 200px;
        margin: 30px 5%;
    }  
}

.image8 {
    width: 28%;
    height: 300px;
    margin: 40px 2%;
    box-shadow: 0.1px 0.1px 10px gray;
    box-shadow: 0.01px 0.01px 20px #585858, -0.01px -0.01px 20px #585858; 
} 

@media screen and (max-width: 600px) {
    .image8 {
        width: 90%;
        height: 200px;
        margin: 30px 5%;
    }  
}

.image5 {
    width: 28%;
    height: 300px;
    margin: 40px 2%;
    box-shadow: 0.1px 0.1px 10px gray;
    box-shadow: 0.01px 0.01px 20px #585858, -0.01px -0.01px 20px #585858; 
} 

@media screen and (max-width: 600px) {
    .image5 {
        width: 90%;
        height: 200px;
        margin: 30px 5%;
    }  
}

.image6 {
    width: 28%;
    height: 300px;
    margin: 40px 2% 40px 20%;
    box-shadow: 0.1px 0.1px 10px gray;
    box-shadow: 0.01px 0.01px 20px #585858, -0.01px -0.01px 20px #585858; 
} 

@media screen and (max-width: 600px) {
    .image6 {
        width: 90%;
        height: 200px;
        margin: 30px 5%;
    }  
}

.image7 {
    width: 28%;
    height: 300px;
    margin: 40px 35px;
    box-shadow: 0.1px 0.1px 10px gray;
    box-shadow: 0.01px 0.01px 20px #585858, -0.01px -0.01px 20px #585858; 
}

@media screen and (max-width: 600px) {
    .image7 {
        width: 90%;
        height: 200px;
        margin: 30px 5%;
    }  
}

.image4 {
    width: 40%;
    height: 30%;
    margin: 40px 0 0 0;
}

@media screen and (max-width: 600px) {
    .image4 {
        width: 40%;
        height: 30%;
        margin: 11px 0 0 10px;
    }  
}

#Footer {
    width: 100%;
    height: 260px;
    background-color: #484848;
    position: absolute;
    top: 214%;
} 

@media screen and (max-width: 600px) {
    #Footer {
        height: 180px;
        background-color: #484848;
        position: absolute;
        top: 300%;
    }  
}

.f-text {
    font-size: 18px;
    text-align: center;
    color: #A8A8A8;
}

@media screen and (max-width: 600px) {
    .f-text {
        font-size: 12px;
    }  
}

#F-container {
    width: 100%;
    display: flex;
}

.fsec1 {
    width: 40%;
    margin-left: 10%;
    margin-top: 1%;
}

@media screen and (max-width: 600px) {
    .fsec1 {
        width: 40%;
        margin-left: 5%;
        margin-top: 1%;
    }
}

.fsec2 {
    width: 20%;
    margin-left: 5%;
    margin-top: 1%;
}

@media screen and (max-width: 600px) {
    .fsec2 {
        width: 30%;
        margin-left: 2%;
        margin-top: 1%;
    }
}

.fsec3{
    width: 20%;
    margin-left: 1%;
    margin-top: 1%;
}

@media screen and (max-width: 600px) {
    .fsec3{
        width: 20%;
        margin-left: 2%;
        margin-top: 1%;
    }
}

.f-text1 {
    font-size: 22px;
    color: white;
    font-weight: bold;
    font-style: italic;
}

@media screen and (max-width: 600px) {
    .f-text1 {
        font-size: 12px;
    } 
}

.f-text2 {
    font-size: 16px;
    color: #A8A8A8;
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    .f-text2 {
        font-size: 8px;
    }
}

ul {
    list-style: none;
    margin-left: -8%;
}

@media screen and (max-width: 600px) {
    ul {
        list-style: none;
        margin-left: -32%;
        margin-top: -10%;
    }
}
